.l-statistics__forum {
    padding: 0;
    list-style: none;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-statistics__forumItem__content {
    background-color: var(--black-10);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-statistics__forumItem__content>i {
    margin-right: 0.8rem;
}

.c-forum__label {
    margin-bottom: 0;
}

@media (min-width: 767px) {
    .l-statistics__content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 200px 100px 200px 200px;
        grid-template-rows: 200px 100px 200px 200px;
        grid-template-areas: "newuser counts" "newuser counts" "newuser guide" "logRecently logRecently" "logOld logOld";
    }
    .l-statistics__forum {
        grid-area: counts;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 1rem;
    }
}

@media (min-width: 767px) {
    .l-statistics__forum {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
    }
}

@media (min-width: 1000px) {
    .l-statistics__content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 300px 200px 200px;
        grid-template-rows: 300px 200px 200px;
        grid-template-areas: "newuser counts logRecently" "newuser guide guide" "newuser logOld logOld";
    }
    .l-statistics__forum {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
    }
}