.c-modal {
    width: 100%;
    height: 0%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 9999;
    top: 0;
    left: 0;
}

.c-modal__dialog {
    max-width: 100%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.c-modal__dialog.c-modal__default {
    background-color: var(--white);
}

.c-modal__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.c-btn__modal {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--black-10);
    padding: 0.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    color: var(--white);
}

.c-btn__modal:hover {
    background-color: var(--orange-50);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-modal__content {
    width: 100%;
    margin-top: 0.5rem;
    position: relative;
}

.c-awards__info {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "icon text" "edition edition";
    -ms-grid-columns: 70px 0.4rem 1fr;
    grid-template-columns: 70px 1fr;
    -ms-grid-rows: 1fr 0.4rem 20px;
    grid-template-rows: 1fr 20px;
    gap: 0.4rem;
    margin-bottom: 0.5rem;
}

.c-awardsInfo__edition {
    color: var(--orange-50);
    text-align: center;
}

.c-awards__info>i {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: icon;
    width: 100%;
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-awardsInfo__text {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    margin-bottom: 0;
    grid-area: text;
}

.c-awardsInfo__edition {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: edition;
}

.c-awards__usersList {
    max-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    overflow: auto;
}

.c-awards__user {
    width: 100%;
    height: 180px;
    position: relative;
    border: 2px solid var(--black-20);
    overflow: hidden;
}

.c-awards__userCategory {
    position: absolute;
    width: 100%;
    bottom: -55%;
    left: 0;
    z-index: 2;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-awards__user:hover .c-awards__userCategory {
    bottom: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-userCategory__subtitle {
    font-size: 1rem;
}

.c-userCategory__title {
    font-family: Volkhov;
    font-size: 2rem;
    font-weight: 700;
}

.c-awards__user:hover .c-userCategory__title,
.c-awards__user:hover .c-userCategory__subtitle {
    font-size: 0;
}

.c-userCategory__title,
.c-userCategory__subtitle {
    color: var(--white);
    margin-left: 0.5rem;
}

.c-userCategory__info {
    margin-top: 1rem;
}

.c-userCategory__titleInfo {
    color: var(--white);
    background-color: var(--black-20);
    padding: 0.5rem 0.5rem 0.5rem 0.7rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.c-userCategory__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-userCategory__links a {
    color: var(--white);
    margin-right: 1rem;
    padding: 0.2rem;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-userCategory__links a:hover {
    color: var(--orange-50);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-userCategory__links a i {
    margin-right: 0.4rem;
}

.u-award__icon {
    background-color: var(--orange-50);
    color: var(--white);
    padding: 0.5rem 0.5rem 1rem;
    position: absolute;
    right: 0.5rem;
    top: 0;
    z-index: 3;
}

.u-bg__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-awards__user:hover .u-bg__overlay {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-modal__dialog.c-modal__gods {
    background-color: var(--black-10);
    max-width: 950px;
}

.c-modal__dialog.c-modal__gods .c-modal__title {
    color: var(--white);
}

.c-user__image {
    width: 100%;
    min-height: 100%;
}

.u-userAward__name {
    position: absolute;
    top: 0.5rem;
    left: 0;
    z-index: 5;
    color: var(--white);
    background-color: var(--orange-50);
    padding: 0.5rem 0.9rem 0.5rem 0.5rem;
}

.c-modal__godBody {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.c-god__content {
    height: 180px;
    overflow: hidden;
    position: relative;
}

.c-god__content>i {
    position: absolute;
    top: 0;
    color: var(--white);
    padding: 1rem 0.5rem 1.4rem;
    background-color: var(--black-20);
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.c-god:hover .c-god__content>i {
    background-color: var(--orange-50);
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.c-god__iconleft {
    right: 1rem;
}

.c-god__iconright {
    left: 1rem;
}

.c-god__info {
    position: absolute;
    bottom: 0.3rem;
}

.c-god__left {
    left: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-god__right {
    right: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-god__kingdom {
    margin: 0;
    text-shadow: 0.15rem 0.15rem 0.03rem var(--black-10);
}

.c-god__name {
    font-weight: 700;
    text-shadow: 0.15rem 0.15rem 0.03rem var(--black-10);
    color: var(--orange-50);
    font-size: 2.2rem;
    font-family: Volkhov;
}

.c-god__right .c-god__name,
.c-god__right .c-god__kingdom,
.c-god__right .c-god__amountCloth,
.c-god__right {
    text-align: right;
}

.c-god__right .c-god__name,
.c-god__right .c-god__kingdom {
    margin-right: 0.5rem;
}

.c-god__left .c-god__name,
.c-god__left .c-god__kingdom {
    margin-left: 0.5rem;
}

.c-god {
    width: 100%;
}

.c-god__image {
    max-width: 100%;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.c-god__amountCloth {
    background-color: var(--orange-50);
    padding: 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 180px;
}

.c-god__right .c-god__amountCloth {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (min-width: 767px) {
    .c-modal__godBody {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .c-god {
        width: 50%;
    }
    .c-god__content {
        height: 500px;
    }
    .c-god__iconleft {
        left: 1rem;
        right: inherit;
    }
    .c-god__iconright {
        right: 1rem;
        left: inherit;
    }
}

@media (min-width: 1000px) {
    .c-modal__dialog {
        max-width: 90%;
    }
    .c-modal__dialog.c-modal__default {
        width: 1000px;
    }
    .c-modal__content,
    .c-awards__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .c-awards__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: var(--orange-50);
        padding: 1.4rem 0.5rem 5rem;
        position: relative;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .c-awards__info:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 99px 0 99px;
        border-color: var(--orange-50) transparent transparent transparent;
        position: absolute;
        bottom: -30px;
    }
    .c-awardsInfo__text {
        text-align: center;
    }
    .c-awards__info>i,
    .c-awardsInfo__text,
    .c-awardsInfo__edition {
        color: var(--white);
    }
    .c-awards__user {
        width: 30%;
    }
    .c-awards__usersList {
        max-height: 500px;
    }
    .c-userCategory__titleInfo {
        font-size: 1.2rem;
    }
    .c-god__image {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    .c-god:hover .c-god__image {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
}